.main{

    background-color: rgb(13, 1, 53);
    color: white;
    padding: 20px;
    font-size: large;
    position: fixed;    /* Add this */
    top: 0;             /* Add this */
    left: 0;            /* Add this */
    width: 100%;        /* Add this */
   border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
       /* Optional: keeps it above other elements */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con1{
    background-color: lightblue;
    height: 90vh;
    
    margin:20px;
    padding: 20px;
   
    box-shadow: 10px 10px 20px black;
    margin-bottom: 50px;
    margin-top: 120px;

    border-radius: 9px;
}

.con2{
    background-color: lightblue;
    height: 90vh;
    margin:20px;
    padding: 20px;
  
    box-shadow: 10px 10px 20px black;
    margin-top: 90px;

      border-radius: 9px;
}
body{
    height :300vh;
    background-color: seashell;
    
}
.two{
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     
}
img{
    width: 250px;
    height: 250px;
    border-radius: 12px;
    float: left;
    margin-right: 15px;
  

}
.four{
    font-size: larger;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.6;
    
      height: 250px;

}

.five{
     font-size: larger;
    text-align: justify;
   
    line-height: 1.6;
}
.six{
    
}